@reference 'tailwindcss';
@reference 'tw-animate-css';


/* Basic editor styles */
.tiptap.ProseMirror {
  padding-left: 1rem;
  padding-right: 1rem;

  h1 {
    @apply font-semibold text-5xl leading-tight;
  }

  h2 {
    @apply mt-8 mb-1 font-semibold text-4xl leading-tight;
  }

  h3 {
    @apply mt-6 mb-1 font-semibold text-3xl leading-tight;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h5 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h6 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  /* Code and preformatted text styles */
  .inline-code {
    @apply rounded-sm px-1 py-0.5;
    background-color: var(--inline-code-background);
  }

  /* Link styles */
  a {
    color: var(--link-text);
    opacity: 0.7;
    border-bottom: 0.05em solid var(--link-text);
  }

  .selection {
    @apply inline;
  }

  .selection,
  *::selection {
    @apply inline bg-black/10;
    /* background-color: #3b83f6;
    color: #fff; */
  }

  ul[data-type='taskList'] {
    @apply list-none p-0;

    p {
      @apply m-0;
    }

    li {
      @apply flex;

      >label {
        @apply grow-0 shrink-0 flex-auto mt-1 mr-2 select-none;
      }

      >div {
        @apply flex-auto;
      }

      &[data-checked='true'] {
        @apply line-through;
      }
    }
  }

  code {
    @apply caret-white text-white bg-neutral-900 rounded-sm shadow-lg font-mono;

    &::selection {
      @apply bg-white/30;
    }
  }

  pre {
    @apply caret-white bg-neutral-700 text-white rounded p-4 border border-black dark:bg-neutral-900 dark:border-neutral-800;

    *::selection {
      @apply bg-white/20;
    }

    code {
      @apply bg-inherit text-inherit p-0 shadow-none;
    }

    .hljs-comment,
    .hljs-quote {
      @apply text-neutral-400;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      @apply text-red-300;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      @apply text-orange-300;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      @apply text-lime-300;
    }

    .hljs-title,
    .hljs-section {
      @apply text-yellow-300;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      @apply text-teal-300;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
}