@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-inline-code-background: var(--inline-code-background);
}

:root {
  --background: #ffffff;
  --inline-code-background: #e2eaf3;

  /* text colors */
  --default-text-color: #37352f;
  --inverse-text-color: rgba(255, 255, 255, 0.81);
  --gray-text-color: #787774;
  --brown-text-color: #9f6b53;
  --orange-text-color: #d9730d;
  --yellow-text-color: #cb912f;
  --green-text-color: #448361;
  --blue-text-color: #337ea9;
  --purple-text-color: #9065b0;
  --pink-text-color: #c14c8a;
  --red-text-color: #d44c47;

  /* background colors */
  --default-background-color: #fafafa;
  --inverse-background-color: #121212;
  --gray-background-color: #f8f8f7;
  --brown-background-color: #f4eeee;
  --orange-background-color: #fbecdd;
  --yellow-background-color: #fbf3bd;
  --green-background-color: #edf3ec;
  --blue-background-color: #e7f3f8;
  --purple-background-color: #f8f3fc;
  --pink-background-color: #fcf1f6;
  --red-background-color: #fdebec;
}

.dark {
  --background: #1f1f1f;
  --inline-code-background: #e8f2f6;

  /* text colors */
  --default-text-color: rgba(255, 255, 255, 0.81);
  --inverse-text-color: #37352f;
  --gray-text-color: #9b9b9b;
  --brown-text-color: #ba856f;
  --orange-text-color: #c77d48;
  --yellow-text-color: #ca984d;
  --green-text-color: #529e72;
  --blue-text-color: #379ad3;
  --purple-text-color: #9d68d3;
  --pink-text-color: #d15796;
  --red-text-color: #df5452;

  /* background colors */
  --default-background-color: #121212;
  --inverse-background-color: #fafafa;
  --gray-background-color: #2f2f2f;
  --brown-background-color: #4a3228;
  --orange-background-color: #5c3b23;
  --yellow-background-color: #564328;
  --green-background-color: #243d30;
  --blue-background-color: #143a4e;
  --purple-background-color: #3c2d49;
  --pink-background-color: #4e2c3c;
  --red-background-color: #522e2a;
}